<ion-header>
  <ion-navbar>
    <ion-title>
      Picture View
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center class="picture-container" (click)="getImage()">
    <ion-icon *ngIf="!imageReady" name="camera" class="custom-icon"></ion-icon>
    <img *ngIf="imageReady" [src]="imageView" alt="Foto do usuário" class="picture" />
  </div>

  <form (ngSubmit)="agendar()" #formulario="ngForm" class="form">
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input [(ngModel)]="picture.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Tipo do documento</ion-label>
      <ion-select [(ngModel)]="picture.documentType" name="picture.documentType" interface="popover">
        <ion-option value="cpf">CPF</ion-option>
        <ion-option value="cnh">CNH</ion-option>
        <ion-option value="rg">RG</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Documento</ion-label>
      <ion-input [(ngModel)]="picture.document" name="picture.document"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Data de nascimento</ion-label>
      <ion-datetime [(ngModel)]="picture.birthDate" name="picture.birthDate" displayFormat="DD/MM/YYYY">
      </ion-datetime>
    </ion-item>
  </form>

  <ion-fab bottom right (click)="send()">
    <button ion-fab>
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-fab>
  
</ion-content>
